<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/settings">Uloga</a></li>
            <li role="presentation"><a href="/stolovi">Stolovi</a></li>


        </ul>
        <h3 class="text-muted">NASLOV</h3>
    </nav>
</div>
