<%- include('partials/navbar') %>

    <form method="post" action="/addname">
    <label for="uloga"></label>
    <select name="uloga" id="uloga">
    <option value="konobar" name="ulogaKonobar">konobar</option>
    <option value="gost" name="ulogaGost">gost</option>
    <option value="sanker" name="ulogaSanker">sanker</option>
    <option value="kuhar" name="ulogaKuhar">kuhar</option>
    <input type="submit" value="Add Name"/>

    </select>
    </form>
 